################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/modulex/FileContentIndex/read.lock
/.vs/modulex/FileContentIndex/dfafd593-1d40-447c-8ef8-33486b60b7c0.vsidx
/.vs/modulex/FileContentIndex/994a8f85-a600-4a0e-93e1-e65993bd8f2d.vsidx
/.vs/modulex/FileContentIndex/83773944-a401-4f4f-a175-fd52a3da564e.vsidx
/.vs/modulex/FileContentIndex/40830895-b65d-434f-8e9b-a55b89848aa2.vsidx
/.vs/modulex/FileContentIndex/2d8af502-6c1c-4518-9817-a214483d1659.vsidx
/.vs/modulex/FileContentIndex/3ab397dd-b545-441c-bc5c-2834bc58d372.vsidx
/.vs/modulex/FileContentIndex/5c12e604-cedd-45f4-b610-27abed991b84.vsidx
/.vs/modulex/FileContentIndex/89649c3c-4367-447e-a02e-85fcb054faf6.vsidx
/.vs/modulex/FileContentIndex/0528ce88-b1c2-40c1-bb52-73233ba6df8a.vsidx
/.vs/modulex/FileContentIndex/5700155d-0872-414c-8e20-e941888e22d5.vsidx
/.vs/modulex/FileContentIndex/a4ed11a9-8a76-40ca-ac82-758c3b2049f4.vsidx
/.vs/modulex/FileContentIndex/9e180611-5408-4045-b208-8163456ad416.vsidx
/.vs/modulex/FileContentIndex/c8ad5155-c03a-4248-ae26-c0f6ace9c1b9.vsidx
/.vs/modulex/FileContentIndex/db240c4b-05e8-4145-a6fb-06ce53c03550.vsidx
/.vs/modulex/FileContentIndex/f203c5be-4f3a-4b5c-921c-895f2c152295.vsidx
/.vs/modulex/FileContentIndex/5a433d8a-a201-4ce0-a62a-c39914b99211.vsidx
/.vs/modulex/FileContentIndex/2666e498-e3e2-4e89-aacc-be6f46030b36.vsidx
/.vs/modulex/FileContentIndex/0f9f2257-e017-4198-b0be-af4a8d9ba589.vsidx
/.vs/modulex/FileContentIndex/b426485c-7209-42dc-a770-c0e4ab6df7dc.vsidx
